@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root
{
  --dark: #000;
  --light: #fff;
  --primary-color: #1d6017;
}

@media(prefers-color-scheme:light)
{
  :root
  {
    --light: #000;
    --dark: #fff;
  }
}

html
{
  color-scheme: light dark;
}

li
{
  list-style-type: none;
  font-size: medium;
}

a,
a:visited,
a:active
{
  text-decoration: none;
  cursor: pointer;
  color: var(--dark);
}

body
{
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--light);
  color: var(--dark);
}

.container
{
  width: 100%;
  height: 100%;
}

img,
svg,
video
{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.toggle-icon
{
  display: none;
}

h1
{
  font-size: clamp(30px, 3rem, 3.5rem);
}


header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: .5rem 1rem;
}

.logo
{
  height: 50px;
  width: 50px;
}

.navbar
{
  width: 100%;
}

.nav,
.navbar
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav li,
.nav li a
{
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: small;
  color: #000;
  font-weight: bold;
}

.btn
{
  padding: 0.5rem 1rem;
  border-radius: 60px;
  font-weight: 550;
  border: 1px solid;
}

#sign
{
  color: var(--dark);
  background-color: transparent;
}


#join
{
  background-color: var(--dark);
  color: var(--light);
}

#more
{
  color: var(--primary-color);
}

.hamburger
{
  display: none;
  padding: 0.7rem 0.2rem;
  cursor: pointer;
}

.bar
{
  height: 4px;
  width: 90%;
  background-color: var(--primary-color);
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: black;
}

main
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem 2rem;
}

section
{
  display: flex;
  width: 100%;
}

section>*
{
  width: 50%;
}

.content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  text-align: center;
  min-height: 100%;
  background-color: pink;
  color: var(--primary-color);
}

section:nth-of-type(1)
{
  flex-direction: row-reverse;
}

.content.green
{
  background-color: var(--primary-color);
  color: var(--light);
}

.transparent
{
  background-color: transparent;
}

.content p
{
  font-size: 1.2rem;
}

footer
{
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
}

hr
{
  width: 95%;
  height: 2px;
  background-color: rgba(41, 41, 41, 0.804);
  border-radius: 20px;
  margin: 0.5rem auto;
}

.list-group
{
  display: flex;
  margin: 1rem auto;
}

.list-group ul
{
  width: 20%;
  padding: .5rem;
}

.list-group ul div
{
  display: flex;
  justify-content: space-between;
}

.list-group ul h3
{
  font-weight: bolder;
  font-size: larger;
  color: var(--dark);
}

.list-group ul li
{
  margin: 0.5rem 0;
  opacity: 0.8;
  font-size: medium;
}

i
{
  margin: auto 5px;
}

@media (width<=768px)
{

  main
  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem 0;
  }

  .navbar
  {
    position: absolute;
    top: 0;
    right: 0;
    translate: 100%;
    height: 100vh;
    width: 50vw;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .navbar.active
  {
    position: absolute;
    top: 0;
    right: 0;
    translate: 0%;
    height: 100dvh;
    width: 70dvw;
    background-color: #fff;
  }

  .nav
  {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav li
  {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem auto;
    display: block;
    cursor: pointer;
  }

  section
  {
    display: block
  }

  section>*
  {
    width: 100%;
  }

  .content
  {
    min-height: 400px;
    width: 100%;
    padding: 2rem auto;
  }

  .support span
  {
    display: block;
    font-weight: bold;
    border-right: 2px solid #000;
    margin: 1rem 0;
    border: none;
  }

  .list-group
  {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .list-group ul
  {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }

  .list-head
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .list-head h3
  {
    min-width: 50%;
  }

  .list-group ul li
  {
    display: none;
  }

  ul.active li
  {
    display: block;
  }

  ul.active span
  {
    rotate: 180deg;
  }

  .toggle-icon
  {
    display: block;
    transition: all .3s ease;
  }

  .secondary
  {
    display: none;
  }


  footer small
  {
    margin: 0.2rem 0;
    padding: 0.1rem;
    display: block;
  }

  .hamburger
  {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0.2rem;
    z-index: 3;
  }

  .hamburger.active .bar:nth-child(2)
  {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1)
  {
    transform: translateY(15px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3)
  {
    transform: translateY(-7px) rotate(-45deg);
  }

}

::-webkit-scrollbar
{
  display: none;
}